<link rel="stylesheet" href="/static/style.css" type="text/css">






<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p style="color:red" class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
	
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>


<form action="/newaccount" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">

<input type="submit" value="Create New Account" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>
