<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Messages</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .message {
                width: 70%;
                border-radius: 10px;
            }
            .usermessage {
                background-color: #1086FC;
            }
            .receivermessage {
                background-color: #E8E7EA;
            }
    </head>
    <body>
         <div class="message_cont">
            {% for message in messages %}
                {% if message[4] == useremail %}
                    <div class="message usermessage">
                        <h4>{{message[4]}}, {{message[2]}}, {{message[3]}}</h4>
                        <p>{{message[1]}}</p>
                    </div>
                {% endif %}
                {% if message[4] != useremail %}
                    <div class="message receivermessage">
                        <h4>{{message[4]}}, {{message[2]}}, {{message[3]}}</h4>
                        <p>{{message[1]}}</p>
                    </div>
                {% endif %}         
            {% endfor %}
        </div>
    </body>
</html>
