<link rel="stylesheet" href="/static/style.css" type="text/css">


<form action="/createnewaccount" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Create New Account</h1>
</div>
<div class="app-subtitle">
<h3>Please add at least one payment method</h3>
</div>
<div class="login-form">
  
<div class="control-group">
				<input type="email" class="login-field" value="" placeholder="email*" name="email">
<label class="login-field-icon fui-user" for="login-name"></label></div>

<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="full name*" name="fullname">
<label class="login-field-icon fui-user" for="login-name"></label></div>
  
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="uni*" name="uni">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
  
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password*" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
  
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="venmo handle" name="venmo">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
  
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="cashapp handle" name="cashapp">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
  
<div class="control-group">
				<input type="url" class="login-field" value="" placeholder="picture link" name="image">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=flashes>
    {% for message in messages %}
      <p style="color:red">{{ message }}</p>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  
<input type="submit" value="Join" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>
