<link rel="stylesheet" href="/static/mainstyle.css" type="text/css">

<style>
.login-screen {
box-shadow: 0px 0px 26px -3px rgba(0, 0, 0, 0.5);
}
  
input {
background-color: #ECF0F1;
}
	
body {
  margin:0;
  padding:0;
}
</style>




        <ul style="z-index: 100; position:fixed; top:0; width: 100%; box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6);">
        <li><a class="active" href="/">posts</a></li>
        <li style="float:right"><a href="logout">logout</a></li>
        <li style="float:right"><a href="myprofile">my profile</a></li>
        <li style="float:right"><a href="mymessages">messages</a></li>
        <li style="float:right"><a href="newpost">new post</a></li>
    </ul>
    <div style="height: 90px; background-color: transparent;"></div>


<form action="/createnewreview", method="POST">
<div class="login" style="width:400px">
<div class="login-screen" style="width:400px">
<div class="app-title">
<h1 style="text-align:center">Write Review</h1>
</div>
<div class="app-subtitle" style="width:360px">
<p>Write a review about {{current_user}}</p>
</div>
	
	
<div class="login-form" style="width:360px">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="title" name="title"></div>

<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="description" name="description"></div>

<div class="control-group">
				<input type="number" class="login-field" value="" placeholder="rating" name="rating" min="1" max="5" step="1"></div>
	
<div class="control-group">
			<input type="hidden" value="{{current_user}}" name="current_user"></div>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=flashes>
    {% for message in messages %}
      <p style="color:red">{{ message }}</p>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
	
	
<input type="submit" value="write" class="btn btn-primary btn-large btn-block" style="color:white">

</div>
</div>
</div>
</form>
