<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
</head>

<body>
    <div class="title">{{title}}</div>
    <div class="img_cont">
        <img src="{{image_url}}" alt="">
    </div>
    {% if product_type == 1 %}
    <div>Price: {{tutoring_hourly_rate}}</div>
    {% endif %}
    {% if product_type == 2 %}
    <div>Price: {{study_resource_price}}</div>
    {% endif %}
    <div>Description: {{description}}</div>
    <div><a href="open-profile?pid={{user_email}}">Seller: {{user_email}}</a></div>
</body>

</html>
