<link rel="stylesheet" href="/static/style.css" type="text/css">


<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      margin: 0px;
    }
  </style>


<body>
  
  <ul>
    <li><a href="">home</a></li>
    <li style="float:right"><a href="newpost">new post</a></li>
    <li style="float:right"><a href="manage">manage posts</a></li>
    <li style="float:right"><a href="myprofile">my profile</a></li>
    <li style="float:right"><a href="logout">logout</a></li>
  </ul>
  
  
  
  <h1>Posts - coming soon</h1>
</body>


</html>
