<link rel="stylesheet" href="/static/mainstyle.css" type="text/css">


<body>
  
  <ul style="position:relative; top:-70px">
    <li><a href="">home</a></li>
    <li style="float:right"><a href="logout">logout</a></li>
    <li style="float:right"><a href="myprofile">my profile</a></li>
    <li style="float:right"><a href="newpost">new post</a></li>
    
    
  </ul>
  
  <div class="login">
    <div class="login-screen">
    <div class="row">
    <div class="column" style="width:400px;display:inline-block;vertical-align:top;">
      
          
        <div class="app-title">
        <h1>{{info[0][2]}}</h1>
        </div>
          
        <div class="app-title">
        <img src={{info[0][6]}} width="350" height="350">
        </div>
          
        <div class="app-subtitle">
        <p>email: {{info[0][0]}}</p>
        <p>uni: {{info[0][3]}}</p>
        <p>venmo: {{info[0][4]}}</p>
        <p>cashapp: {{info[0][5]}}</p>
        </div>
      
        <div>
          <h1 style"font-size:14px">Followers</h1>
          {% for follower in followers %}
          <a href="openpost?uid={{follower[0]}}">
              <div class="app-subtitle">
                  <p>{{follower[0]}}</p>
              </div>
              <a>
          {% endfor %}
        </div>
            
        <div>
          <h1 style"font-size:14px">Following</h1>
          {% for following in followings %}
          <a href="openpost?uid={{following[0]}}">
              <div class="app-subtitle">
                  <p>{{following[0]}}</p>
              </div>
              <a>
          {% endfor %}
        </div>
          
    </div>
      
      
    <div class="column" style="width:400px;display:inline-block;vertical-align:top;">
      
          

    </div>
  </div>
  </div>
  
</body>


</html>
